body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.header{
    display: flex;
    background: linear-gradient(to right, blue, pink);
    color: white;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(96, 96, 69, 0.185);
    border-radius: 10px 10px 0 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
    width: 100%;
}

.main {
    flex: 3;
    min-width: 0;
}


.link {
    background-color: #797979;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.link:hover {
    background-color: #636363;
}

.sidebar {
    flex: 1;
    padding: 20px;
    gap: 20px;
    margin: 15px 0 15px 0;
    background: rgb(229, 229, 229);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    text-decoration: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 0 15px 0;
    border-left: 6px solid #3169d8;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
}

.last-item {
    text-decoration: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 6px solid #3169d8;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
}

.info-block {
    margin-top: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.info-block p {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ababab;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  flex: 1 1 150px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid grey;
  border-color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card p {
  flex-grow: 1;
}

.card-buttons {
    display: flex;
    gap: 10px;
    margin-top: auto;
    flex-shrink: 0;
}

.card button {
    flex: 1;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-height: 20px;
}

.blue {
    background-color: #528cff;
}

.pink {
    background-color: #ff82d1;
}

.card button:hover {
  background-color: #0056b3;
}

.end {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.end a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #555;
}

.end p {
  color: white;
  justify-content: center;
}

.end a:hover {
  background-color: grey;
  border-radius: 5px;
}

.navbar {
  display: flex;
  gap: 15px;
}
