body {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  flex: 1 1 150px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid grey;
  border-color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card p {
  flex-grow: 1;
}

.card button {
  font-size: 20px;
  display: flex;
  background-color: deepskyblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  flex-wrap: nowrap;
  align-items: stretch;
}

.card button:hover {
  background-color: #0056b3;
}

.end {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.end a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #555;
}

.end p {
  color: white;
  justify-content: center;
}

.end a:hover {
  background-color: grey;
  border-radius: 5px;
}

.navbar {
  display: flex;
  gap: 15px;
}
